extends ../layout/layout
block contents 
    div 
        form(method="POST") 
            legned(hidden) EDIT #{video.title}
            h3 Edit #{video.title}
            div
                label(for="videoTitle") EDIT Title
                input#videoTitle(type="text", name="title" value=video.title placeholder=video.title minLength=3 required) 
            div
                label(for="videoDesc") EDIT Description
                input#videoDesc(type="text", name="description" value=video.description placeholder=video.description maxLength=30 required) 
            div
                label(for="videoHashTag") EDIT HashTags
                input#videoHashTag(type="text", name="hashTags" value=video.hashTags.join().replaceAll('#',"") placeholder=",로 구분해서 태그를 입력하세요") 
            input(type="submit" value="submit")