include ./avatarMixin
mixin mainPageContents(contents)
    li.main-contents-list
        div.main-contents-content.video-thumbnail
            a(href=`/video/${contents._id}`)
                video(src=contents.fileUrl thumbnail) 
        div.main-contents-info
            h3 
                a(href=`/video/${contents._id}`) #{contents.title}
            div.main-contents-desc
                div.main-contents-owner
                    +avatarUrl(contents)
                small 업로드일 #{contents.createAt.toLocaleString('ko-KR')}
                small #{contents.hashTags}