include ./avatarMixin
mixin videoDetail(video)
    div.video-detail-video
        video(src=`/${video.fileUrl}` controls) 
    div.video-detail-info
        h2 #{video.title.toUpperCase()}
        div
            +avatarUrl(video)
        div
            p=video.description
        div
            if video.hashTags !== null
                each tags in video.hashTags
                    span=tags
            else
                small 해쉬태그 없음
            
            p=video.createAt.toLocaleString("ko-KR")