mixin videoMixin(video)
    div.video-page-contents
        div.video-page-contents-thumbnail.video-thumbnail
            a(href=`/video/${video._id}`)
                video(src=video.fileUrl alt="video") 
        div.video-page-contents-desc
            h3
                a(href=`/video/${video.id}`) #{video.title.toUpperCase()} 
            p #{video.description.length > 30? `${video.description.slice(0,3)}...`:video.description}
            div
                div.video-page-hashtags
                    if video.hashTags !== null
                        each tags in video.hashTags
                            span=tags
                    else
                        span 해쉬태그 없음
                small=video.createAt.toLocaleString("ko-KR")